body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAIN CARD */
.container {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* TITLE */
h1 {
  text-align: center;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 6px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #16a34a;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DELETE BUTTON */
li button {
  background: red;
  width: auto;
  padding: 5px 8px;
}