body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin-top: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li button {
  background: red;
}